.webpage {
    font-family: sans-serif;
    flex: 1 1 auto;
}

.header,
.footer,
.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header,
.section-one {
    padding: 50px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-weight: bold;
}

.links {
    list-style: none;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
}

a:visited {
    color: #E5E7EB;
}

.section-one {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-bottom: 100px;
}

.subsection {
    max-width: 400px;
}

#main-text {
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px;
}

button {
    background-color: #3882F6;
    border-radius: 20px;
    border-color: #3882F6;
    color: white;
    width: 100px;
    height: 25px;
    font-size: large;
}

#image {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px
}

.section-two {
    margin: 40px;
}

#heading-two {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.text {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 12em;
}

.section-three {
    background-color: #E5E7EB;
    padding: 100px 200px
}

#quote {
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

#quoter {
    font-weight: bolder;
    font-style: normal;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-four {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin: 100px 200px;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.call-action {
    display: flex;
    align-items: center;
}

.desc {
    max-width: 300px;
}

.head {
    font-weight: bold;
}

.second-button {
    border-color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px
}